<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"  content="initial-scale=1, width=device-width">

<title>Features</title>

<link href="assets/styles.css" rel="stylesheet" type="text/css" />
<link href="assets/bootstrap.css" rel="stylesheet" type="text/css" />

<!--[if  IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    
    <!-- start div #wrapper -->
    <div id="wrapper">
        
        <!-- start header -->
        <header>
            <div class="border-left"></div>
            <div class="logo">
                <a href="#"><%= image_tag("logo.png") %></a>
                <span class="border-bottom"></span>
            </div>
            <div class="search">
                <form action="#" method="post">
                    <input class="field" type="text" name="" value="Search rumors..." onFocus="if (this.value==this.defaultValue) this.value = ''" 
                    onblur="if (this.value=='') this.value = this.defaultValue" >
                    <input class="submit" type="submit" name="" value="" >
                </form>
            </div>
            <nav class="menu">
                <ul>
                    <li><span class="border-bottom"></span><a href="category.html">World</a></li>
                    <li><span class="border-bottom"></span><a href="category.html">Spotlight</a></li>
                    <li><span class="border-bottom"></span><a href="category.html">Sports</a>
                        <ul class="dropdown">
                            <li><a href="category.html">subcategory</a></li>
                            <li><a href="category.html">another one</a></li>
                            <li class="last"><span class="border-bottom"></span><a href="category.html">third category</a></li>
                        </ul>
                    </li>
                    <li><span class="border-bottom"></span><a href="category.html">business</a></li>
                    <li><span class="border-bottom"></span><a href="category.html">health</a></li>
                    <li><span class="border-bottom"></span><a href="category.html">Science</a></li>
                    <li><span class="border-bottom"></span><a href="features.html">Features</a>
                        <ul class="dropdown">
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="blog-single-with-rating.html">News with rating</a></li>
                            <li class="last"><span class="border-bottom"></span><a href="full-width.html">full width</a></li>
                        </ul>
                    </li>
                </ul>                                              
            </nav>   
            <select class="mobile-menu" onchange='document.location.href=this.options[this.selectedIndex].value;'> 
                <option value="">Go To...</option> 
                <option value="index.html">Home</option>
                <option value="category.html">Category</option>
                <option value="blog-single.html">News single</option>
                <option value="features.html">Features</option>
                <option value="full-width.html">-Full width</option>
                <option value="blog-single-with-rating.html">-News single with rating box</option>
                <option value="contact.html">-Contact</option>
            </select>
            <div class="clear"></div>
        </header>
        <!-- end header -->
        
        <!-- start div #main-title -->
        <div class="main-title">
            <p>Privacy Policy</p>
        </div>
        <!-- end div #main-title -->
        
        <!-- start div #main -->
        <div id="main">
            <div class="main-content">
                <div class="features">
                
					<div class="container">
<h2> Web Site Terms and Conditions of Use </h2>
<br>
<p>
1. Terms

By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.

</p>
<p>
2. Use License

Permission is granted to temporarily download one copy of the materials (information or software) on 4th Kind's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
modify or copy the materials;
use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
attempt to decompile or reverse engineer any software contained on 4th Kind's web site;
remove any copyright or other proprietary notations from the materials; or
transfer the materials to another person or "mirror" the materials on any other server.
This license shall automatically terminate if you violate any of these restrictions and may be terminated by 4th Kind at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

</p>
<p>
3. Disclaimer

The materials on 4th Kind's web site are provided "as is". 4th Kind makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, 4th Kind does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.

</p>
<p>
4. Limitations

In no event shall 4th Kind or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on 4th Kind's Internet site, even if 4th Kind or a 4th Kind authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
<p>

5. Revisions and Errata

The materials appearing on 4th Kind's web site could include technical, typographical, or photographic errors. 4th Kind does not warrant that any of the materials on its web site are accurate, complete, or current. 4th Kind may make changes to the materials contained on its web site at any time without notice. 4th Kind does not, however, make any commitment to update the materials.

</p>
<p>
6. Links

4th Kind has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by 4th Kind of the site. Use of any such linked web site is at the user's own risk.
</p>
<p>
7. Site Terms of Use Modifications

4th Kind may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>
<p>
8. Governing Law

Any claim relating to 4th Kind's web site shall be governed by the laws of the Province of Ontario without regard to its conflict of law provisions.
</p>


<p> Copyright </p>

<p> We respect the intellectual property rights of others and expects its users to do the same. It is our policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others. </p>

<p> In accordance with the Canadian Copyright Act (R.S.C., 1985, c. C-42), the text of which may be found here http://laws-lois.justice.gc.ca/eng/acts/C-42/index.html, we will respond expeditiously to claims of copyright infringement committed using this website that are reported to us, identified in the sample notice below. </p>

If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following the Notice of Alleged Infringement and delivering it to contact. Upon receipt of the Notice as described below, we will take whatever action, including removal of the challenged material from the Site. </p>

<p> Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed. </p>

<p> Identify (i) the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found, and (ii) the reference or link, to the material or activity that you claim to be infringing, that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate that reference or link, including at a minimum, if applicable, the URL of the link shown on the Site where such reference or link may be found. </p>

Provide your mailing address, telephone number, and, if available, email address.
Include both of the following statements in the body of the Notice:

"I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."

"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."

Provide your full legal name and your electronic or physical signature.


</p>
</div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>  
        </div>
        <!-- end div #main --> 
    
    </div>
    <!-- end div #wrapper -->    
        
 <!-- start footer -->
    <footer>
        <div class="footer-top">
            <div class="logo">
                <a href="index.html"><img src="assets/logo.png" alt=""></a>
                <span class="border-bottom"></span>
            </div>
            <div class="widget first">
                <div class="desc">
                    <p>Too many of us look upon Americans as dollar chasers. This is a cruel libel, even if it is reiterated thoughtlessly by the Americans themselves.</p>
                    <p>This is a cruel libel, even if it is reiterated thoughtlessly by the Americans themselves.</p>
                </div>
                <ul class="info">
                    <li class="address">Salt Lake City, UT 87234</li>
                    <li class="phone">(871) 321-6567</li>
                    <li class="mail"><a href="mailto:awesome@website.com">awesome@website.com</a></li>
                </ul>
            </div>
            <div class="widget">
                <div class="title">
                    <h3>latest news</h3>
                </div>
                <div class="news">
                    <% @footer.each do |post| %>
                    <article class="twoboxes">
                        <div class="post-thumb">
                            <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                            <a href="blog-single.html"><img src="http://dummyimage.com/108x58/413d3c/fff.png" alt=""></a>
                                        <% end %>
                            <div class="overlay">
                                <div class="op"></div>
                                <div class="cat">
                                    <div class="icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-desc">
                            <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                            <div class="clear"></div>
                            <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>    
                        </div>
                        <div class="clear"></div>
                    </article>
                    <% end %>
                    
                </div>
            </div>
            <div class="widget last">
                <div class="title">
                    <h3>most popular</h3>
                </div>
                <div class="news">
                    <% @footer2.each do |post| %>
                        <article class="twoboxes">
                            <div class="post-thumb">
                                <% if post.image.present? %>
                                        <%= image_tag post.image.thumb.url %>
                                    <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/108x58/413d3c/fff.png" alt=""></a>
                                    <% end %>
                                <div class="overlay">
                                    <div class="op"></div>
                                    <div class="cat">
                                        <div class="icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-desc">
                                <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                <div class="clear"></div>
                                <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>    
                            </div>
                            <div class="clear"></div>
                        </article>
                    <% end %>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>Copyright 2013 @ <span>RUMORS</span>. // A mega awesome NEWS MAGAZINE theme.</p>
            </div>
            <div class="clear"></div>
        </div>  
    </footer>
    <!-- end footer -->

<script type="text/javascript" src="assets/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="assets/html5shiv.js" ></script>
<script type="text/javascript" src="assets/bootstrap.min.js" ></script>
<script type="text/javascript" src="assets/fancydropdown.js" ></script>
<script type="text/javascript" src="assets/jquery.easing-1.3.js" ></script>
<script type="text/javascript" src="assets/functions.js" ></script>
<script type="text/javascript">

</body>

</html>