        <div class="cn_wrapper">
            <div id="cn_preview" class="cn_preview">
                <% @last.each do |post| %>
                <div class="cn_content bg-1" style="top:0px; background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg2.each do |post| %>
                <div class="cn_content bg-2" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg3.each do |post| %>
                <div class="cn_content bg-3" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>


                <% @bg4.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg5.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg6.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg7.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg8.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg9.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg10.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg11.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>

                <% @bg12.each do |post| %>
                <div class="cn_content bg-4" style="background:url(<%= post.image.slider %>); no-repeat center #ffffff">
                    <div class="caption">
                        <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                        <p><%= post.body.truncate(230) %></p>
                        <div class="date">
                            <P><%= post.created_at.strftime("%d") %><br><span><%= post.created_at.strftime("%B") %></span></P>
                        </div>
                        <% end %>
                    </div>
                </div>
                
                <div class="cn_nav">
                    <a id="cn_prev" class="cn_prev disabled"></a>
                    <a id="cn_next" class="cn_next"></a>
                </div>
            </div>
   <div id="cn_list" class="cn_list">
                <div class="cn_page" style="display:block;">
                    <% @posts.each do |post| %>
                    <div class="cn_item">
                        <div class="left-box">
                            <% if post.image.present? %>
                                        <%= image_tag post.image.big_thumb.url %>
                                    <% else %>
                                        <img src="http://dummyimage.com/90x44/413d3c/fff.png" alt="">
                                    <% end %>
                        </div>
                        <div class="right-box">
                            <h4><%= post.title %></h4>
                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <% end %>
                </div>

                <div class="cn_page" style="display:block;">
                    <% @posts2.each do |post| %>
                    <div class="cn_item">
                        <div class="left-box">
                            <% if post.image.present? %>
                                        <%= image_tag post.image.big_thumb.url %>
                                    <% else %>
                                        <img src="http://dummyimage.com/90x44/413d3c/fff.png" alt="">
                                    <% end %>
                        </div>
                        <div class="right-box">
                            <h4><%= post.title %></h4>
                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <% end %>
                </div>

                <div class="cn_page" style="display:block;">
                    <% @posts3.each do |post| %>
                    <div class="cn_item">
                        <div class="left-box">
                            <% if post.image.present? %>
                                        <%= image_tag post.image.big_thumb.url %>
                                    <% else %>
                                        <img src="http://dummyimage.com/90x44/413d3c/fff.png" alt="">
                                    <% end %>
                        </div>
                        <div class="right-box">
                            <h4><%= post.title %></h4>
                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>