<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"  content="initial-scale=1, width=device-width">


<title>Home</title>


<!--[if  IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

</head>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>


<body class="home">
    
    <!-- start div #wrapper -->
    <div id="wrapper">
        
        <!-- start header -->
        <%= render 'posts/header' %>
        <!-- end header -->

        <!-- start slider -->
        <%= render 'posts/slider' %>
        <!-- end slider -->
        
    <!-- start div #main -->
      <div id="main">
            <div class="main-content">
                <div class="left-container">
                  <div class="row-fluid">
                        <div class="span2">
                            <div class="marked-title">
                                <h3>hot news</h3>
                            </div>

                        <% @posts.each do |post| %>
                            <article class="small">
                                <div class="post-thumb">
                                    <% if post.image.present? %>
                                        <%= image_tag post.image.thumb.url %>
                                    <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/156x85/413d3c/fff.png" alt=""></a>
                                    <% end %>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="cat">
                                            <div class="icon"></div>
                                            <%= post.category.name %>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-post-desc">
                                    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                    <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                                </div>
                            </article>
                        <% end %>     
                        </div>

                        <div class="span2">
                            <div class="marked-title">
                                <h3>popular news</h3>
                            </div>
                            <% @popular.each do |post| %>
                            <article class="small">
                                <div class="post-thumb">
                                    <% if post.image.present? %>
                                        <%= image_tag post.image.thumb.url %>
                                    <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/156x85/413d3c/fff.png" alt=""></a>
                                    <% end %>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="cat">
                                            <div class="icon"></div>
                                            <%= post.category.name %>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-post-desc">
                                    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                    <h3><a href="blog-single.html"><%= link_to "#{post.title}", post %></a></h3>
                                </div>
                            </article>
                            <% end %>  
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            <div class="marked-title">
                                <h3>entertainment</h3>
                            </div>
                            <% @enter.each do |post| %>
                                <article class="border">
                                    <div class="post-thumb">
                                    <% if post.image.present? %>
                                        <%= image_tag post.image.big_thumb.url %>
                                    <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/346x170/413d3c/fff.png" alt=""></a>
                                    <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cat-post-desc">
                                        <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                        <p><%= post.body.truncate(250) %></p>
                                    </div>
                                </article>
                            <% end %>

                            <% @enter2.each do |post| %>
                            <article class="twoboxes last">
                                
                                    <div class="post-thumb">
                                        <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/108x58/413d3c/fff.png" alt=""></a>
                                            <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-desc">
                                        <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                        <div class="clear"></div>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>     
                                    </div>
                                    <div class="clear"></div>
                                </article>
                            <% end %>
                        </div>

                        <div class="span2">
                            <div class="marked-title">
                                <h3>Politics</h3>
                            </div>
                                <article class="border">
                                    <% @poli.each do |post| %>
                                    <div class="post-thumb">
                                        <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                                            <a href="blog-single.html"><img src="http://dummyimage.com/346x170/413d3c/fff.png" alt=""></a>
                                            <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cat-post-desc">
                                        <h3><a href=""><%= link_to "#{post.title.first(70)}", post %></a></h3>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                        <p><%= post.body.truncate(250) %></p>
                                    </div>
                                </article>
                            <% end %>


                           <% @poli2.each do |post| %>
                            <article class="twoboxes last">
                                
                                    <div class="post-thumb">
                                        <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                                        <a href="blog-single.html"><img src="http://dummyimage.com/108x58/413d3c/fff.png" alt=""></a>
                                            <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-desc">
                                        <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                        <div class="clear"></div>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>     
                                    </div>
                                    <div class="clear"></div>
                                </article>
                            <% end %>

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="marked-title">
                            <h3>Wellness</h3>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <article>
                                <% @sci.each do |post| %>
                                    <div class="post-thumb">
                                        <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                                            <a href="blog-single.html"><img src="http://dummyimage.com/346x170/413d3c/fff.png" alt=""></a>
                                        <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cat-post-desc">
                                        <h3><a href=""><%= post.title %></a></h3>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                        <p><%= post.body.truncate(200) %></p>
                                    </div>
                            </article>
                                <% end %>
                        </div>


                            <div class="span2">
                            <article>
                                <% @sci2.each do |post| %>
                                    <div class="post-thumb">
                                        <% if post.image.present? %>
                                            <%= image_tag post.image.big_thumb.url %>
                                        <% else %>
                                            <a href="blog-single.html"><img src="http://dummyimage.com/346x170/413d3c/fff.png" alt=""></a>
                                        <% end %>
                                        <div class="overlay">
                                            <div class="op"></div>
                                            <div class="cat">
                                                <div class="icon"></div>
                                                <%= post.category.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cat-post-desc">
                                        <h3><a href=""><%= post.title %></a></h3>
                                        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                                        <p><%= post.body.truncate(200) %></p>
                                    </div>
                            </article>
                                <% end %>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>




                <div class="right-container">
                    <div class="sidebar">
                       <%= render 'posts/social' %>
                        <div class="widget">
                            <div class="marked-title">
                                <h3>ads</h3>
                            </div>
                            <img class="ads" <a href="#"><%= image_tag("ads.jpg") %></a>
                            <img class="ads" <a href="#"><%= image_tag("ads.jpg") %></a>
                            <img class="ads" <a href="#"><%= image_tag("ads.jpg") %></a>
                            <div class="clear"></div>
                        </div>
                       
                        <div class="widget">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#tab-1" data-toggle="tab">latest</a></li>
                                <li><a href="#tab-2" data-toggle="tab">popular</a></li>
                                <li><a href="#tab-3" data-toggle="tab">controversial</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <div class="news">
                        
                                        <% @latest.each do |post| %>
                                        <div class="item">
                                            <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                                            <div class="clear"></div>
                                        </div>
                                        <% end %>
                                        
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="news">
                                        <% @popular2.each do |post| %>
                                        <div class="item">
                                            <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                                            <div class="clear"></div>
                                        </div>
                                       <% end %>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="news">
                                        <% @popular2.shuffle.each do |post| %>
                                        <div class="item">
                                            <h3><a href=""><%= link_to "#{post.title}", post %></a></h3>
                                            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
                                            <div class="clear"></div>
                                        </div>
                                             <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>  
        </div>
      <!-- end div #main -->
    
    </div>
  <!-- end div #wrapper -->    
    
    <!-- start footer -->
    <%= render "posts/footer" %>
    <!-- end footer -->

<script type="text/javascript" src="assets/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="assets/html5shiv.js" ></script>
<script type="text/javascript" src="assets/bootstrap.min.js" ></script>
<script type="text/javascript" src="assets/fancydropdown.js" ></script>
<script type="text/javascript" src="assets/jquery.easing-1.3.js" ></script>
<script type="text/javascript" src="assets/functions.js" ></script>
<script type="text/javascript">
    /* <![CDATA[ */
    /*global $:false */
    $(function() {
        "use strict";
        //caching
        //next and prev buttons
        var $cn_next = $('#cn_next');
        var $cn_prev    = $('#cn_prev');
        //wrapper of the left items
        var $cn_list    = $('#cn_list');
        var $pages      = $cn_list.find('.cn_page');
        //how many pages
        var cnt_pages   = $pages.length;
        //the default page is the first one
        var page        = 1;
        //list of news (left items)
        var $items      = $cn_list.find('.cn_item');
        //the current item being viewed (right side)
        var $cn_preview = $('#cn_preview');
        //index of the item being viewed. 
        //the default is the first one
        var current     = 1;
        /*
        for each item we store its index relative to all the document.
        we bind a click event that slides up or down the current item
        and slides up or down the clicked one. 
        Moving up or down will depend if the clicked item is after or
        before the current one
        */
        $items.each(function(i){
            var $item = $(this);
            $item.data('idx',i+1);
            
            $item.bind('click',function(){
                var $this       = $(this);
                $cn_list.find('.selected').removeClass('selected');
                $this.addClass('selected');
                var idx         = $(this).data('idx');
                var $current    = $cn_preview.find('.cn_content:nth-child('+current+')');
                var $next       = $cn_preview.find('.cn_content:nth-child('+idx+')');
                
                if(idx > current){
                    $current.stop().animate({'top':'-357px'},600,'easeOutBack',function(){
                        $(this).css({'top':'357px'});
                    });
                    $next.css({'top':'357px'}).stop().animate({'top':'0px'},600,'easeOutBack');
                }
                else if(idx < current){
                    $current.stop().animate({'top':'357px'},600,'easeOutBack',function(){
                        $(this).css({'top':'357px'});
                    });
                    $next.css({'top':'-357px'}).stop().animate({'top':'0px'},600,'easeOutBack');
                }
                current = idx;
            });
        });
        /*
        shows next page if exists:
        the next page fades in
        also checks if the button should get disabled
        */
        $cn_next.bind('click',function(e){
            var $this = $(this);
            $cn_prev.removeClass('disabled');
            ++page;
            if(page === cnt_pages)
                { $this.addClass('disabled'); }
            if(page > cnt_pages){ 
                page = cnt_pages;
                return;
            }   
            $pages.hide();
            $cn_list.find('.cn_page:nth-child('+page+')').fadeIn();
            e.preventDefault();
        });
        /*
        shows previous page if exists:
        the previous page fades in
        also checks if the button should get disabled
        */
        $cn_prev.bind('click',function(e){
            var $this = $(this);
            $cn_next.removeClass('disabled');
            --page;
            if(page === 1)
                { $this.addClass('disabled'); }
            if(page < 1){ 
                page = 1;
                return;
            }
            $pages.hide();
            $cn_list.find('.cn_page:nth-child('+page+')').fadeIn();
            e.preventDefault();
        });
    });
    /* ]]> */
</script> 

</body>

</html>